.fa-plus-circle {
    color: black !important;
}

.fab-container {
    position: fixed;
    bottom: 48px;
    right: 48px;
}

#description {
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}