.feed-card {
    margin: 2rem 12rem;
}

.profile-card {
}

.profile-image {
    width: 64px;
    height: 64px;
    padding: 8px;
    border-radius: 50%;
}

.profile-name {
    margin: 0;
    font-weight: bold;
    padding: 18px 4px;
    display: inline-block;
}

.posted-image {
    width: 100%;
    height: 100%;
}

.card-body {
    padding: 0;
}

.card-info {
    background-color: white;
}

.card-footer {
    padding: 16px;
}

.info-name {
    margin: 0;
    font-weight: bold;
    padding: 2px 4px;
}

.post-data {
    display: inline-block;
    margin: 0;
    padding: 2px 4px;
}

hr {
    margin: 0;
}

@media screen and (max-width: 996px) {
    .feed-card {
        margin: 2rem 2rem;
    }
}